body
{
  background-color: black;
  font-family: 'Anonymous Pro', monospace;
  src: url(fonts/Anonymous_Pro.ttf);
}

h1
{
  font-size: 40px;
  color: #5BE43C;
  font-weight: 700;
  padding-left: 80px;
  padding-top: -300px;
 }

h2
{
   font-size: 28px;
   color: white;
   padding-left: 80px;
}

div
{
   position:relative;
   margin-left: 242px;
   margin-top: 400px;
   width: 977px;
   height: 860px;
   margin-bottom: 107px;
 }

div-3
{
   float: left;
}
div-4
{
  float: right;
  padding-top: 50px;
}
div-5
{
  float: left;
  position: absolute; bottom: 0; left: 0;
}
div-6
{
float: right;
position: absolute; bottom: 0; right: 0;
padding-bottom: 50px;
}
div-7
{
position: absolute;
margin-left: 47px;
margin-top: 15px;
}
div-8
{
position: absolute;

}
#gif6
{
  width: 607px;
  hight: 600px;
  margin-left: -94px;
  margin-top: -150px;
}
h3,h4,h5,h6
{
  font-family: 'Anonymous_Pro', monospace;
  color: white;
  font-size: 20px;

}
h3
{
font-weight: 400;
}
h4
{
font-weight:  700;
}
h5
{
font-style: italic;
font-weight: 400;
}
h6
{
font-style: italic;
font-weight: 700;
}

p
{
  font-size: 25px;
  color: #5BE43C;
  padding-top: 400px;
}

#rectangle
{
  margin-left: -170px;
}


#gif,#gif1,#gif2,#gif3,
{
  width:380px;
}
#gif5
{
  width: 144px;
  height: 185px;
}

h7, h8, h9, h10
{
  font-size: 35px;
    color: #fff;
}
span
{
  position: absolute;
  top: 250px;
}
.image {
    position: relative;
    margin-top: 104px;

    }
h7 span {
    margin-top:-160px;
    margin-left: 130px;
}
h8 span
{
  margin-top:220px;
  margin-left: 90px;
  font-weight: 700;
}
h9 span
{
  margin-top:80px;
  margin-left: 750px;
  font-style: italic;
}
h10 span
{
margin-top: 310px;
  margin-left: 750px;
  font-style: italic;
  font-weight: 700;
}
h11 span
{
  margin-top: -250px;
  margin-left: 550px;
  color: #5BE43C;
  font-size: 30px;
}
h12 span
{
  color: #5BE43C;
  padding-top:360px;
}

h13,h14,h15,h16,h18
{
color: white;
font-weight: 700;
font-size: 25px;
}

h13 span
{
margin-top: -165px;
margin-left: -960px;
}
h14 span
{
margin-top: 75px;
  margin-left: -675px;
}
h15 span
{
  margin-top: -220px;
  margin-left: -270px;
}
h16 span
{
  margin-top: 110px;
  margin-left: -135px;
}
h17 span
{
  margin-top: 320px;
  margin-left: -650px;
  color: #5BE43C;
  font-size: 40px;
  font-weight: 400;
}

#windowfortex, #windowwithletters, #fingerprint, #window3, #elipse
{
  width: inherit;
  }
  #elipse
{
  width: auto;
  height: auto;
  margin-left: 320px;
}

p1 span
{
  padding-top: 150px;
  margin-left: 100px;
}
#apple
{
  padding-top: 80px;
  margin-left: -840px;
  position: absolute;
}
h18 span
{
  margin-top: 300px;
  padding-left: 780px;
}
p3 span
{
  color: white;
  font-size: 25px;
  font-weight: 400;
  margin-top: -215px;
  padding-left: 40px;
}
h19,h20
{
  font-weight: 700;
  font-size: 30px;
  color: white;
}
h19 span
{
  padding-top: 16px;
  padding-left: 835px;
}
h20 span
{
  padding-top: 210px;
  padding-left: 313px;
}

#counter
{
  width: auto;
  height: auto;
}
p1,p2,p4,p5
{
  color: #5BE43C;
  font-size: 25px;
}
p4 span
{
  margin-top: 170px;
  margin-left: -50px;
}
h21 span
{
  font-size: 45px;
  color: white;
  margin-top: 45px;
  margin-left: -555px;
  line-height: 120px;
  word-spacing: 100px;
    font-weight: 700;
}
h22,h23,h24,h25,h26
{
  font-size: 40px;
  color: white;
  font-weight: 700;
  font-style: italic;
}
h22 span
{
  margin-top: -220px;
  margin-left: 380px;
}
h23 span
{
  margin-top: -145px;
  margin-left: 470px;
}
h24 span
{
  margin-top: -65px;
  margin-left: 500px;
}
h25 span
{
  margin-top: 0px;
  margin-left: 540px;
}
h26 span
{
  margin-top: 90px;
  margin-left: 600px;
}
p5 span
{
  margin-top: 250px;
  margin-left: -400px;
  }
  h27
  {
    margin-left: 100px;
    color: #5BE43C;
    word-spacing: 100px;
  }
  #menu
  {
      margin-left: 480px;
  }
